/* Code based on this sample http://thecodeplayer.com/walkthrough/css3-family-tree */

/*Now the CSS*/
.tree * {margin: 0; padding: 0;}

.tree {
	ul {
		padding-top: 20px; position: relative;
		transition: all 0.5s;
		display: table;
		width: 100%;

		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
	}
	li {
		display: table-cell;
		text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 5px;

		transition: all 0.5s;

		a {
			background-color: #fff;
			border: 1px solid #3498db;
			text-decoration: none;
			display: inline-block;
			transition: all 0.5s;
			padding: 0;
			margin: 0;
			min-width: 160px;
			.title {
				text-transform: uppercase;
				font-size: 0.85em;
				color: #2c3e50;
				padding: 10px;
				letter-spacing: 1px;
			}
			.background {
				width: 100%;
				height: 100px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
	}
}

.tree > ul > li > ul > li > a {
	width: 11em;
}

.tree > ul > li > a {
	font-size: 1em;
	font-weight: bold;
}

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #3498db;
	width: 50%;
	height: 70px;
	z-index: -1;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #3498db;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #3498db;
}
.tree li:first-child::after{
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #3498db;
	width: 0;
	height: 20px;
}

.tree li a{

}

/* -------------------------------- */
/* Now starts the vertical elements */
/* -------------------------------- */

.tree ul.vertical, ul.vertical ul {
	padding-top: 0px;
	margin: auto;
}

/* Remove the downward connectors from parents */
.tree ul ul.vertical::before {
	display: none;
}

.tree ul.vertical li {
	float: none;
	display: block;
}

.tree ul.vertical li::before {
	right: auto;
	border: none;
}

.tree ul.vertical li::after{
	display: none;
}

.tree ul.vertical li a{
}

.tree ul.vertical li::before {
	top: -20px;
	left: 50%;
	border-left: 1px solid #3498db;
	width: 20px;
	height: 60px;
}

.tree ul.vertical li:first-child::before {
	top: 0px;
	height: 40px;
}

/* Lets add some extra styles */




/* ------------------------------------------------------------------ */
/* Time for some hover effects                                        */
/* We will apply the hover effect the the lineage of the element also */
/* ------------------------------------------------------------------ */
.tree li a:hover, .tree li a:hover + ul li a {
	background: #3498db;
	.title {
		color: #fff;
	}
	/* border: 1px solid #aaa; */
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #aaa;
}
