@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ru2f3j');
	src:url('fonts/icomoon.eot?#iefix-ru2f3j') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ru2f3j') format('woff'),
		url('fonts/icomoon.ttf?-ru2f3j') format('truetype'),
		url('fonts/icomoon.svg?-ru2f3j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\21";
}
.icon-facebook:before {
	content: "\22";
}
