.page-wrapper {
	overflow: hidden;
}

.hotsite {
	&, h1, h2, h3, h4, h5, h6, p, ul li, a {
		font-family: 'Roboto', sans-serif;
	}

	section#hero {
		@include aspect-ratio(1900, 1080);

		width: 100%;
		min-height: 400px;

		position: relative;
		background-position: left top;
		background-repeat: no-repeat;

		.hero-inner {
			max-width: 1200px;
			margin: auto;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: flex-end;
			padding-left: 10px;
			padding-right: 10px;
		}

		.title {
			color: $c-wine;
			text-transform: uppercase;
			padding: 20px;
			background-color: rgba(255, 255, 255, 0.8);
			font-size: 19px;
			font-weight: 600;
			line-height: 1.5;
			text-align: justify;
			width: 550px;
		}
	}

	h1.strip {
		width: 100%;
		background-color: #fff;
		font-size: 27px;
		font-weight: 600;
		text-transform: uppercase;
		color: $c-wine;
		text-align: center;
		padding: 23px 10px;
		line-height: 1;
		margin: 0;
		letter-spacing: 0.05rem;
	}

	section.section {
		@include aspect-ratio(1900, 500);

		width: 100%;
		min-height: 450px;
		position: relative;
		background-position: center;
		background-repeat: no-repeat;

		.section-inner {
			max-width: 1200px;
			margin: auto;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			padding-left: 10px;
			padding-right: 10px;
		}

		header.section-header {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 10px;
			max-width: 550px;
			.section-title {
				color: #fff;
				font-size: 22px;
				font-weight: 600;
				text-transform: uppercase;
				line-height: 1.3;
				text-shadow: 0 0 3px $c-wine;
				letter-spacing: 0.04rem;
			}
			.section-quote {
				color: #fff;
				font-size: 22px;
				font-weight: 600;
				text-transform: uppercase;
				line-height: 1.4;
				text-shadow: 0 0 1px #fff;
				.author {
					display: block;
					text-align: right;
					font-size: 17px;
				}
			}
			.buttons {
				margin-top: 20px;
				text-align: center;
			}
		}
	}
	section.section.section-center header.section-header {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-align: center;
	}
	section.section.section-right header.section-header {
		left: initial;
		right: 0;
	}
	section.section.section-top-right header.section-header {
		top: 0;
		right: 0;
		transform: none;
	}

	.btn.btn-outline {
		background: transparent;
		border: 2px solid #fff;
		border-radius: 5px;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.03rem;
		// box-shadow: 0 0 3px $c-wine;
		display: inline-block;
		&:hover {
			background-color: #fff;
			color: $c-wine;
		}
	}
	.btn.btn-wine.btn-outline {
		border-color: $c-wine;
		color: $c-wine;
		&:hover {
			background-color: $c-wine;
			color: #fff;
		}
	}
	.btn.btn-green.btn-outline {
		border-color: #213812;
		color:#213812;
		&:hover {
			background-color:#213812;
			color: #fff;
		}
	}
}

.hotsite footer {
	.white-strip {
		background-color: #FFF;
		color: #000;
	}
	.black-strip {
		background-color: #181818;
		color: #fff;
	}
	.footer-inner {
		max-width: 1200px;
		margin: auto;
		height: 100%;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		p {
			font-size: 18px;
			text-transform: uppercase;
			line-height: 25px;
			padding: 0;
			margin: 0;
			font-weight: 500;
			font-family: 'Roboto Condensed';
			vertical-align: middle;
		}
	}
	.supporters {
		p, a, a img {
			vertical-align: middle;
			display: inline-block;
		}
		a {
			margin-left: 15px;
		}
		a img {
			height: 25px;
		}
	}
	nav {
		max-width: 1200px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		list-style: none;
		li {
			display: inline-block;
			& > a, & > p {
				padding: 14px;
				font-size: 22px;
				color: #fff;
				text-transform: uppercase;
				font-family: 'Roboto Condensed';
				display: inline-block;
				line-height: 30px;
				vertical-align: middle;
				margin: 0;
				font-weight: 600;
				line-height: 22px;

			}
			a:hover {
				color: #cecece;
			}
		}
		li.current p {
			padding: 15px 80px;
			margin-top: -7px;
			background-color: #000;
			font-size: 28px;
			line-height: 28px;
		}
		li:first-child a {
			padding-left: 0;
		}
		li:last-child a {
			padding-right: 0
		}
	}
}
