.page-wrapper {
	overflow: hidden;
}

.hotsite {
	&, h1, h2, h3, h4, h5, h6, p, ul li, a {
		font-family: 'Roboto', sans-serif;
	}
}

.hotsite section#hero,
.hotsite .strip,
.hotsite section.section {
	border-bottom: 1px solid $c-wine;
}

.hotsite section#hero {
	@include aspect-ratio(1900, 980);

	width: 100%;
	min-height: 500px;
	position: relative;
	background-position: left top;
	background-repeat: no-repeat;

	.hero-inner {
		max-width: 1200px;
		margin: auto;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: flex-end;
		padding-left: 10px;
		padding-right: 10px;
	}

	.title {
		color: $c-wine;
		text-transform: uppercase;
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.8);
		font-size: 15px;
		font-weight: 600;
		line-height: 1.5;
		text-align: justify;
		max-width: 550px;
	}

	@media screen and (min-width: 768px) {
		min-height: 400px;

		.title {
			font-size: 19px;
			margin-bottom: 80px;
		}
	}
}

.hotsite .strip {
	width: 100%;
	background-color: #fff;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	color: $c-wine;
	text-align: center;
	padding: 18px 10px;
	line-height: 1;
	margin: 0;
	letter-spacing: 0.03rem;

	@media screen and (min-width: 768px) {
		font-size: 27px;
		padding: 23px 10px;
	}
}

.hotsite section.section {
	@include aspect-ratio(1900, 500);

	width: 100%;
	min-height: 450px;
	position: relative;
	background-position: center;
	background-attachment: cover;
	background-repeat: no-repeat;

	.section-inner {
		max-width: 1200px;
		margin: auto;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.section-columns {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.section-column {
			flex-basis: 100%;
			margin-top: 30px;
			padding: 0 30px;
		}
		.column-title {
			color: #fff;
			font-size: 28px;
			text-transform: uppercase;
			font-weight: 600;
			height: 90px;
			vertical-align: bottom;
			display: flex;
			align-items: flex-end;
			position: relative;
			padding-bottom: 5px;
			&:after {
				height: 1px;
				width: 100px;
				background-color: #fff;
				display: block;
				content: " ";
				position: absolute;
				bottom: -1px;
			}
		}
		img {
			max-width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.column-desc {
			color: #fff;
			font-size: 19px;
			font-weight: 600;
		}
	}

	header.section-header {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 10px;
		max-width: 550px;
		.section-bigtitle {
			color: #fff;
			font-size: 50px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.3;
			text-shadow: 0 0 3px $c-wine;
			letter-spacing: 0.04rem;
		}
		.section-title {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.3;
			text-shadow: 0 0 3px $c-wine;
			letter-spacing: 0.04rem;
		}
		.section-quote {
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.4;
			text-shadow: 0 0 3px $c-wine;
			.author {
				display: block;
				text-align: right;
				font-size: 17px;
			}
		}
		.buttons {
			margin-top: 20px;
			text-align: center;
		}
	}

	@media screen and (min-width: 768px) {
		.section-columns {
			.section-column {
				flex-basis: 33%;
			}
		}
		header.section-header {
			.section-bigtitle {
				font-size: 80px;
			}
			.section-title {
				font-size: 22px;
			}

		}
	}
}
.hotsite section.section.section-top-left header.section-header {
	top: 0;
	left: 0;
	right: initial;
	bottom: initial;
	transform: none;
}
.hotsite	section.section.section-center header.section-header {
	text-align: center;
	@media screen and (min-width: 768px) {
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
.hotsite section.section.section-right header.section-header {
	left: initial;
	right: 0;
}
.hotsite	section.section.section-top-right header.section-header {
	top: 0;
	right: 0;
	transform: none;
}

.hotsite {
	.btn {
		background: transparent;
		border: 2px solid #fff;
		border-radius: 5px;
		padding: 12px 20px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 0.03rem;
		// box-shadow: 0 0 3px $c-wine;
		display: inline-block;
		&:hover {
			background-color: #fff;
			color: $c-wine;
		}
	}
	.btn.btn-wine.btn-outline {
		border-color: $c-wine;
		color: $c-wine;
		&:hover {
			background-color: $c-wine;
			color: #fff;
		}
	}
	.btn.btn-green.btn-outline {
		border-color: #213812;
		color:#213812;
		&:hover {
			background-color:#213812;
			color: #fff;
		}
	}
	.btn.btn-white.btn-outline {
		border-color: #fff;
		color:#fff;
		&:hover {
			background-color:#fff;
			color: #000;
		}
	}
	.btn.btn-black.btn-outline {
		border-color: #000;
		color:#000;
		&:hover {
			background-color:#000;
			color: #fff;
		}

	}
	.btn.btn-dark-blue {
		border-color: #01123e;
		color:#fff;
		background-color:#01123e;
		&:hover {
			color:#01123e;
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
	.btn.btn-dark-blue.btn-outline {
		border-color: #01123e;
		color:#01123e;
		&:hover {
			background-color:#01123e;
			color: #fff;
		}
	}
}

.hotsite footer {
	.white-strip {
		background-color: #FFF;
		color: #000;
	}
	.black-strip {
		background-color: #181818;
		color: #fff;
	}
	.footer-inner {
		max-width: 1200px;
		margin: auto;
		height: 100%;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		p {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 18px;
			text-transform: uppercase;
			line-height: 25px;
			margin: 0;
			font-weight: 500;
			font-family: 'Roboto Condensed';
			vertical-align: middle;
		}
	}
	.supporters {
		p, a, a img {
			vertical-align: middle;
			display: inline-block;
		}
		a {
			margin-left: 15px;
		}
		a img {
			height: 25px;
		}
	}
	nav {
		max-width: 1200px;
		margin: auto;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		list-style: none;
		flex-wrap: wrap;
		li {
			display: inline-block;
			flex-grow: 1;
			text-align: center;
			& > a, & > p {
				padding: 14px 0;
				font-size: 22px;
				color: #fff;
				text-transform: uppercase;
				font-family: 'Roboto Condensed';
				display: inline-block;
				line-height: 30px;
				vertical-align: middle;
				font-weight: 600;
				line-height: 22px;
				margin: 0 10px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			a:hover {
				color: #cecece;
			}
			&:first-child {
				text-align: left;
			}

		}
		li.current p {
			margin-top: -7px;
			background-color: #000;
			font-size: 28px;
			line-height: 28px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media screen and (min-width: 768px) {
		nav {
			li {
				&:last-child {
					text-align: right;
				}
			}
			li.current {
				p {
					padding: 15px 80px;
				}
			}
		}
	}
}
