/*
 * Import settings
 * ----------------------------------------------------- */
@import "settings";

/*
 * Import foundation
 * ----------------------------------------------------- */
@import "../../bower_components/foundation/scss/foundation";

/*
 * Import modules
 * ----------------------------------------------------- */
@import "modules/all";

/*
 * Import partials
 * ----------------------------------------------------- */
@import "partials/base";

// MUST HAVE!!!!
body, html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.page-wrapper {
	overflow: hidden;
}

// Global
@import "global/buttons";
@import "global/aspect-ratio";
@import "global/colors";

@mixin inner {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

// Components
@import "components/masthead";
@import "components/page-header";
@import "components/post";
@import "components/nav-actions";
@import "components/pagination";
@import "components/form";
@import "components/modal";

// Sections
@import "sections/main";
@import "sections/highlights";
@import "sections/social";
@import "sections/latest-posts";
@import "sections/facebook-widget";
@import "sections/map";
@import "sections/posts";

// Pages
@import "pages/hotsites";
@import "pages/engenhos";
@import "pages/anatomia-comparada";

